*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.navbar{
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 30px 0;
	transition:  all 0.3s ease;
	/*background: crimson;*/
}

.navbar.sticky{
	padding: 15px 0;
	background-color: crimson;
	/*background: crimson;*/
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .logo a span{
	color: crimson;
	transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
	color: #fff;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}

.navbar .menu li a:hover{
	color: crimson;
}

.navbar.sticky .menu li a:hover{
	color: #fff;
}

.menu-btn{
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}

.home{
	display: flex;
	width: 100%;
	/*background-color: black;*/
	background: url("front1.jpg") no-repeat center;
	height: 100vh;
	color: #fff;
	background-size: cover;
	min-height: 500px;

}

.home .max-width{
	margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
	font-size: 27px;
}

.home .home-content .text-2 {
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}

.home .home-content .text-3 {
	font-size: 35px;
	margin: 5px 0;
}

.home .home-content .text-3 span{
	color: crimson;
	font-weight: 800;
	text-shadow: 2px 2px black;
}


section{
	padding: 10px 0;
}

section .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500px;
	margin: 60px 0;
	/*margin-bottom: 60px;*/
	padding-bottom: 20px;
}

section .title::before{
	content:"";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: crimson;
	transform: translateX(-50%);
}

/*section .title::before{
	position: absolute;
	bottom: 12px;
	left: 50%;
	font-size: 20px;
	color: crimson;
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}*/

/*.skills .skills-content .left .html::before,
.skills .skills-content .right .css::before{
	width: 80%;
}*/

.skills .skills-content,
.contact .contact-content,
.projects .projects-content,
.aboutus .aboutus-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.skills .skills-content .column,
.contact .contact-content .column,
.projects .projects-content .column,
.aboutus .aboutus-content .column{
	width: calc(50% - 30px);
}

.skills .skills-content .left .bars,
.skills .skills-content .right .bars{
	margin-bottom: 15px;
}

.skills .skills-content .left .info,
.skills .skills-content .right .info{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.skills .skills-content .left span,
.skills .skills-content .right span{
	font-size: 18px;
	font-weight: 500;
}

.skills .skills-content .left .line,
.skills .skills-content .right .line{
	height: 5px;
	width: 100%;
	background: lightgrey;
	position: relative;
}

.skills .skills-content .left .html::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 90%;
	left: 0;
	top: 0;
	background: crimson;
}

.skills .skills-content .right .python::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 90%;
	left: 0;
	top: 0;
	background: crimson;
}

.skills .skills-content .left .css::before,
.skills .skills-content .right .mysql::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 80%;
	left: 0;
	top: 0;
	background: crimson;
}

.skills .skills-content .left .bootstrap::before,
.skills .skills-content .right .java::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 65%;
	left: 0;
	top: 0;
	background: crimson;
}

.skills .skills-content .left .javascript::before,
.skills .skills-content .right .c_pro::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 60%;
	left: 0;
	top: 0;
	background: crimson;
}


.pro_details{
	font-size: 18px;
}

.about_details{
	font-size: 18px;
}


#more {display: none;}

#myBtn{
	margin-top: 8px;
	height: 47px;
	width: 160px;
	border: 2px solid crimson;
	background: crimson;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}

#myBtn:hover{
	color: crimson;
	background: none;
}


 .contact .contact-content .text{
 	font-size: 20px;
 	font-weight: 600;
 	margin-bottom: 10px;

 }

 .contact .contact-content .left p{
 	text-align: center;
 }

.contact .contact-content .left .icons{
	margin: 10px 0;
}

.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}
.contact .contact-content .row .info{
	margin-left: 30px;
}

.contact .contact-content .row i{
	font-size: 25px;
	color: crimson;
}

.contact .contact-content .info .head{
	font-weight: 600;
}

.contact .contact-content .row .sub-title{
	color: #333;
}


.contact .rught form .fields{
	display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
	height: 40px;
	width: 100%;
	margin-bottom: 15px;
}

.contact .right form .textarea{
	height: 80px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 15px;
	resize: none;
}


.contact .right form .button{
	height: 47px;
	width: 160px;
}

.contact .right form .button button{
	height: 100%;
	width: 100%;
	border: 2px solid crimson;
	background: crimson;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.contact .right form .button button:hover{
	color: crimson;
	background: none;
}


@media (max-width: 1150px){
	.home .max-width{
		margin-left: 0px;
	}
}


@media (max-width: 800px){
	.max-width{
		padding: 0 50px;
	}

	.menu-btn{
		display: block;
		z-index: 999;
	}

	.menu-btn i.active:before{
		content: "\f00d";
	}

	.navbar .menu{
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #111;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}

	.navbar .menu.active{
		left: 0;
	}

	.navbar .menu li{
		display: block;
	}

	.navbar .menu li a{
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}

	.home .home-content .text-1 {
		font-size: 24px;
	}

	.home .home-content .text-2 {
		font-size: 65px;
	}

	.home .home-content .text-3 {
		font-size: 30px;
	}

	.skills .skills-content .column,
	.contact .contact-content .column,
	.projects .projects-content .column,
	.aboutus .aboutus-content .column{
		width: 100%;
		margin-bottom: 35px;
	}

	video{
		width: 500px;
	}
}

@media (max-width: 650px){
	.home .home-content .text-1 {
		font-size: 21px;
	}

	.home .home-content .text-2 {
		font-size: 60px;
	}

	.home .home-content .text-3 {
		font-size: 27px;
	}

	#myphoto{
		width: 450px;
		height: 450px;
	}


}


footer{
	background: #111;
	padding: 20px 23px;
	color: #fff;
	margin-top: 20px;
	text-decoration: none;
	text-align: center;
}

footer span a{
	color: crimson;
}

footer span a:hover{
	text-decoration: underline;
}

@media (max-width: 499px){

	.max-width{
		padding: 0 40px;
		margin: auto;
	}

	.home .home-content .text-1 {
		font-size: 18px;
	}

	.home .home-content .text-2 {
		font-size: 40px;
	}

	.home .home-content .text-3 {
		font-size: 20px;
	}

	#myphoto{
		width: 300px;
		height: 300px;
	}

	video{
		width: 330px;
		height: 220px;
	}

	footer{
	padding: 10px 10px;	
}
}